name: ci-cd pipeline

on: 
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - closed
  push:
    branches:
      - dev

env:
  IMAGE_REPO: jayharnesha007/rdicidr
  IMAGE_TAG: ${{ github.sha }}
  AWS_ROLE: arn:aws:iam::935456168005:role/GitHubAction-AssumeRoleWithAction
  REGION: us-east-1

jobs:
  ci:
    name: ci-jobs
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: nodejs-setup
        uses: actions/setup-node@v4
        with:
          node-version-file: ./codebase/.nvmrc

      - name: npm-depedency-install
        working-directory: ./codebase/
        run: |
          node --version
          npm install

      - name: eslint-scan
        working-directory: ./codebase/
        run: npm run lint

      - name: jest-testing
        working-directory: ./codebase/
        run: CI=true npm run test

      # - name: build
      #   working-directory: ./codebase/
      #   run: npm run build

      - name: docker-image-build
        working-directory: ./codebase/
        run: | 
          docker build -t $IMAGE_REPO:$IMAGE_TAG .
          echo ${{ secrets.PASS }} | docker login -u ${{ secrets.ID }} --password-stdin
          docker push $IMAGE_REPO:$IMAGE_TAG
  
  cd:
    name: cd-jobs
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: aws-configure
        uses: aws-actions/configure-aws-credential@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          region: ${{ env.REGION }}


